.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  position: fixed;
  top: 20px;
  left: 20px;
  height: 40px;
  z-index: 100; }
  .brand .logo {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    height: 35px;
    -ms-flex-item-align: center;
    align-self: center; }
  .brand .brandname {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 15px; }
    .brand .brandname span {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color: #000; }

.menu-toggle {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 100; }
  .menu-toggle span {
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #D46A6A; }
    .menu-toggle span::before {
      top: -7px; }
    .menu-toggle span::after {
      top: 7px; }
  .menu-toggle span::before, .menu-toggle span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #D46A6A; }
  .menu-toggle:hover span,
  .menu-toggle:hover span::before,
  .menu-toggle:hover span::after {
    background: #801515; }
  .menu-toggle.active span {
    background: transparent; }
    .menu-toggle.active span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #801515; }
    .menu-toggle.active span::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #801515; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  background: #FFAAAA;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .overlay ul.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style-type: none; }
    .overlay ul.main li {
      margin: 0;
      list-style-type: none; }
    @media (max-width: 768px) {
      .overlay ul.main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
        flex-flow: wrap column;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); } }
  .overlay .menuitem {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
    @media (max-width: 768px) {
      .overlay .menuitem {
        border-bottom: 1px solid #D46A6A; }
        .overlay .menuitem:first-child span {
          margin-top: 0; }
        .overlay .menuitem:last-child {
          border-bottom: none; }
        .overlay .menuitem ul {
          margin-bottom: 30px; } }
    .overlay .menuitem span {
      display: block;
      padding: 15px 25px;
      margin-bottom: 25px;
      font-size: 1.5rem;
      font-weight: 600;
      color: #550000;
      text-align: center; }
      @media (max-width: 768px) {
        .overlay .menuitem span {
          margin-top: 30px;
          margin-bottom: 0px; } }
    .overlay .menuitem a {
      display: inline-block;
      padding: 5px 25px;
      margin: 10px 0;
      text-decoration: none;
      color: #802815;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .overlay .menuitem a:hover {
        border-bottom: 2px solid #550000; }
      @media (max-width: 768px) {
        .overlay .menuitem a {
          margin: 10px 0; } }

.show {
  opacity: 1; }
  .show li.menuitem {
    visibility: visible;
    -webkit-animation: slideup 0.3s forwards;
    animation: slideup 0.3s forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
    .show li.menuitem:nth-of-type(2) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .show li.menuitem:nth-of-type(3) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }

@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
