.nav {
  margin-bottom: 30px; }
  .nav.nav-default {
    background: #e0e0e0; }
  .nav.nav-top {
    position: relative;
    top: 0; }

.logo {
  position: relative;
  height: 100%;
  text-align: center; }
  .logo img {
    display: block;
    position: relative;
    width: 30px;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.brandname a {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  line-height: 20px;
  text-align: left;
  text-decoration: none; }

.menutoggle {
  cursor: pointer; }
  .menutoggle:hover span {
    width: 35px; }
  .menutoggle:hover span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menutoggle:hover span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .menutoggle span {
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .menutoggle span::before {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 3px;
      top: -8px;
      background: #000;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .menutoggle span::after {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 3px;
      top: 8px;
      background: #000;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

.navmenuwrap {
  position: relative; }

.navmenu {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menuitem {
  position: relative; }
  .menuitem a {
    display: block;
    padding: 15px 20px;
    color: #000;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none; }
    .menuitem a:hover {
      background: #000;
      color: #fff; }
    .menuitem a.active {
      background: #000;
      color: #fff; }

.navmenu-sub {
  display: none;
  position: absolute;
  width: 200%;
  left: 0;
  list-style: none;
  background: #eee; }
  .navmenu-sub a {
    padding: 15px 20px; }

.dropdown > a:focus ~ ul {
  display: block; }
