.menu-toggle {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: #eee;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100; }
  .menu-toggle span {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #000;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .menu-toggle span::before {
      top: -7px; }
    .menu-toggle span::after {
      top: 7px; }
  .menu-toggle span::before, .menu-toggle span::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 25px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #000; }
  .menu-toggle.active span {
    width: 25px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .menu-toggle.active span::before {
      top: 0;
      -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    .menu-toggle.active span::after {
      top: 0;
      -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
      transform: translateX(-50%) rotate(-45deg);
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  position: fixed;
  top: 20px;
  left: 20px;
  height: 40px;
  z-index: 100; }
  .brand .logo {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    height: 35px;
    -ms-flex-item-align: center;
    align-self: center; }
  .brand .brandname {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 15px; }
    .brand .brandname span {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color: #000; }

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: #ffc0cb;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .overlay nav {
    width: inherit;
    height: inherit; }
  .overlay.show {
    opacity: 1;
    visibility: visible; }
    .overlay.show li {
      -webkit-animation: dropin 0.3s ease-out forwards;
      animation: dropin 0.3s ease-out forwards; }
      .overlay.show li:nth-child(2) {
        -webkit-animation-delay: 0.02s;
        animation-delay: 0.02s; }
      .overlay.show li:nth-child(3) {
        -webkit-animation-delay: 0.04s;
        animation-delay: 0.04s; }
      .overlay.show li:nth-child(4) {
        -webkit-animation-delay: 0.06s;
        animation-delay: 0.06s; }
  .overlay.hide li {
    -webkit-animation: dropout ease-out forwards;
    animation: dropout ease-out forwards;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }
    .overlay.hide li:nth-child(2) {
      -webkit-animation-duration: 0.34s;
      animation-duration: 0.34s; }
    .overlay.hide li:nth-child(3) {
      -webkit-animation-duration: 0.38s;
      animation-duration: 0.38s; }
    .overlay.hide li:nth-child(4) {
      -webkit-animation-duration: 0.42s;
      animation-duration: 0.42s; }

@-webkit-keyframes dropin {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes dropin {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes dropout {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px); } }

@keyframes dropout {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px); } }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style-type: none; }
  .main li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px); }
    .main li:last-child {
      margin-bottom: 0; }
    .main li a {
      display: inline-block;
      position: relative;
      padding: 25px 30px;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      text-align: center;
      text-decoration: none; }
      .main li a::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        height: 3px;
        opacity: 0;
        background: #000;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      .main li a:hover::after {
        opacity: 1; }
