.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 15px; }
  .nav.nav-default {
    background: #e0e0e0; }
  .nav.nav-top {
    position: relative;
    top: 0; }
  @media (min-width: 768px) {
    .nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); } }

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 100%;
  background: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 100; }
  @media (min-width: 768px) {
    .brand {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      border: none; } }

.logo {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin-left: 15px;
  text-align: center; }
  .logo img {
    display: block;
    position: relative;
    width: 30px;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.brandname {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .brandname a {
    position: relative;
    display: inline-block;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    line-height: 20px;
    text-align: left;
    text-decoration: none; }

.menutoggle {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin-right: 15px;
  cursor: pointer; }
  .menutoggle.active span {
    width: 35px; }
  .menutoggle.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menutoggle.active span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .menutoggle span {
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .menutoggle span::before {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 3px;
      top: -8px;
      background: #000;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .menutoggle span::after {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 3px;
      top: 8px;
      background: #000;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .menutoggle {
      display: none; } }

.navmenuwrap {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-top: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #e0e0e0;
  z-index: 10; }
  .navmenuwrap.show {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 0; }
  @media (min-width: 768px) {
    .navmenuwrap {
      display: block;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
      flex: 1 0 70%;
      margin-top: 0; } }

.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menuitem {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }
  @media (min-width: 768px) {
    .menuitem {
      display: block;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; } }
  .menuitem:nth-child(4n+1) a {
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
    @media (min-width: 768px) {
      .menuitem:nth-child(4n+1) a {
        border-left: none; } }
  .menuitem:last-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    @media (min-width: 768px) {
      .menuitem:last-child {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto; } }
  .menuitem a {
    display: block;
    padding: 25px 0;
    color: #000;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    @media (min-width: 768px) {
      .menuitem a {
        padding: 15px 20px;
        border: none; } }
    .menuitem a:hover {
      background-color: #000;
      color: #fff; }
    .menuitem a.active {
      background: #000;
      color: #fff; }

.navmenu-sub {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  list-style: none;
  background: #eee; }
  .navmenu-sub.show {
    display: block; }
  .navmenu-sub a {
    padding: 25px 20px; }

.searchbar {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background: #eee;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  @media (min-width: 768px) {
    .searchbar {
      border: none; } }
  .searchbar.show {
    display: block; }
  .searchbar form {
    padding: 25px; }

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .bar {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .bar input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .bar input {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-bottom: 0; } }
  .bar button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 125px;
    flex: 0 0 125px; }
    @media (min-width: 768px) {
      .bar button {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
        flex: 0 0 35px;
        margin: 0 0 0 15px; } }
