.fixed {
  position: fixed !important; }

.top-left {
  left: 20px;
  top: 20px; }

.bottom-left {
  left: 20px;
  bottom: 20px; }

.top-right {
  right: 20px;
  top: 20px; }

.bottom-right {
  right: 20px;
  bottom: 20px; }

.margin-top {
  margin-top: 15px; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.margin-bottom {
  margin-bottom: 15px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

/* Avoid accident click event caused by finger touch */
a,
area,
button,
[role="button"],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

form {
  width: 100%;
  color: #212529;
  border-bottom: none; }
  form:last-child {
    margin-bottom: none; }

.form-group, .form-field {
  position: relative;
  width: 100%; }

.form-field {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: none; }

.form-input {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #212529;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.25s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.25s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.25s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.25s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.25s, -webkit-box-shadow ease-in-out 0.25s; }
  .form-input:focus {
    border-color: #1e88e5;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    outline: none; }
  .form-input::-webkit-input-placeholder {
    color: #868e96; }
  .form-input:-ms-input-placeholder {
    color: #868e96; }
  .form-input::-ms-input-placeholder {
    color: #868e96; }
  .form-input::placeholder {
    color: #868e96; }

.form-check {
  margin-right: 0.25rem; }

textarea {
  overflow: auto;
  resize: vertical; }

select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: transparent !important;
  z-index: 2; }
  select:hover {
    cursor: pointer; }

.singleSelectWrapper, .multiSelectWrapper {
  position: relative;
  overflow: auto;
  z-index: 1; }
  .singleSelectWrapper .caret, .multiSelectWrapper .caret {
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 21px;
    right: 1rem;
    border-top: 0.3rem solid #495057;
    border-right: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1; }
  .singleSelectWrapper .single-select, .multiSelectWrapper .single-select {
    padding-right: 3rem; }

.multiSelectWrapper .multi-select {
  max-height: 3rem; }
  .multiSelectWrapper .multi-select option {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .multiSelectWrapper .multi-select option:first-child {
      margin-top: -0.5rem; }
    .multiSelectWrapper .multi-select option:last-child {
      margin-bottom: -0.5rem;
      border-bottom: none; }

.label {
  display: inline-block;
  padding-top: calc(0.5rem + 1px);
  padding-right: 0.75rem;
  padding-bottom: calc(0.5rem + 1px);
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.5rem; }

.disabled {
  color: #868e96;
  cursor: not-allowed; }

legend {
  padding: 0.5rem 1.5rem 0.5rem 0; }

button {
  -webkit-appearance: none;
  -moz-appearance: none; }
  button.btn, a.btn {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    -webkit-transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
    -o-transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
    transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s; }
    button.btn:hover, a.btn:hover, button.btn:focus, a.btn:focus, button.btn:active, a.btn:active {
      outline: none;
      cursor: pointer; }
    button.btn:active, a.btn:active {
      -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
      transform: translate(1px, 1px); }

a {
  display: inline-block; }

.btn-primary {
  color: #fff;
  background-color: #1e88e5;
  border: 1px solid #1e88e5; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #1565c0;
    border-color: #1565c0; }

.btn-secondary {
  color: #1e88e5;
  background-color: #fff;
  border: 1px solid #1e88e5; }
  .btn-secondary:hover, .btn-secondary:active {
    color: #fff;
    background-color: #1565c0;
    border-color: #1565c0; }

.btn-success {
  color: #fff;
  background-color: #8bc34a;
  border: 1px solid #8bc34a; }
  .btn-success:hover, .btn-success:active {
    color: #fff;
    background-color: #558b2f;
    border-color: #558b2f; }

.btn-warning {
  color: #fff;
  background-color: #ffc107;
  border: 1px solid #ffc107; }
  .btn-warning:hover, .btn-warning:active {
    color: #fff;
    background-color: #ffa000;
    border-color: #ffa000; }

.btn-danger {
  color: #fff;
  background-color: #f4511e;
  border: 1px solid #f4511e; }
  .btn-danger:hover, .btn-danger:active {
    color: #fff;
    background-color: #d84315;
    border-color: #d84315; }

.custom-form-check {
  display: inline-block;
  position: relative;
  min-height: 1.5rem;
  line-height: 1.5;
  vertical-align: middle; }
  .custom-form-check:hover {
    cursor: pointer; }
  .custom-form-check.disabled {
    color: #868e96;
    cursor: not-allowed; }
    .custom-form-check.disabled .custom-for-check-icon-alt {
      border-color: #868e96; }
  .custom-form-check .custom-form-check-icon {
    display: inline-block;
    position: relative;
    margin-right: 0.25rem; }
    .custom-form-check .custom-form-check-icon .custom-form-check-icon-unchecked {
      display: inline-block;
      position: relative;
      line-height: 1.5; }
      .custom-form-check .custom-form-check-icon .custom-form-check-icon-unchecked i {
        line-height: 1.5; }
    .custom-form-check .custom-form-check-icon .custom-form-check-icon-checked {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1.5;
      opacity: 0; }
      .custom-form-check .custom-form-check-icon .custom-form-check-icon-checked i {
        line-height: 1.5; }
  .custom-form-check .custom-for-check-icon-alt {
    display: block;
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
    border-radius: 4px;
    border: 2px solid #000; }
    .custom-form-check .custom-for-check-icon-alt + span.custom-form-check-content {
      margin-left: 1.5rem; }
    .custom-form-check .custom-for-check-icon-alt.outter-glow::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 1.3rem;
      height: 1.3rem;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transform: translate(calc(-0.1rem - 2px), calc(-0.1rem - 2px));
      -ms-transform: translate(calc(-0.1rem - 2px), calc(-0.1rem - 2px));
      transform: translate(calc(-0.1rem - 2px), calc(-0.1rem - 2px));
      border-radius: 4px;
      border: 2px solid #1e88e5;
      -webkit-box-shadow: 0 0 5px #1e88e5;
      box-shadow: 0 0 5px #1e88e5;
      -webkit-transition: opacity ease-in 0.2s, -webkit-box-shadow ease-in 0.2s;
      transition: opacity ease-in 0.2s, -webkit-box-shadow ease-in 0.2s;
      -o-transition: opacity ease-in 0.2s, box-shadow ease-in 0.2s;
      transition: opacity ease-in 0.2s, box-shadow ease-in 0.2s;
      transition: opacity ease-in 0.2s, box-shadow ease-in 0.2s, -webkit-box-shadow ease-in 0.2s; }
    .custom-form-check .custom-for-check-icon-alt i {
      position: absolute;
      font-size: 0.6rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: opacity ease-in 0.2s;
      -o-transition: opacity ease-in 0.2s;
      transition: opacity ease-in 0.2s; }
  .custom-form-check .custom-form-check-content {
    display: inline-block;
    position: relative;
    line-height: 1.5; }
  .custom-form-check .hidden-default-check {
    position: absolute;
    left: 0.75rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    z-index: -1;
    /* when focus */
    /* when focus and checked */ }
    .custom-form-check .hidden-default-check:checked + span .custom-form-check-icon-unchecked {
      opacity: 0; }
    .custom-form-check .hidden-default-check:checked + span .custom-form-check-icon-checked {
      opacity: 1; }
    .custom-form-check .hidden-default-check:focus + span .custom-form-check-icon-unchecked {
      color: #1e88e5; }
    .custom-form-check .hidden-default-check:focus:checked + span .custom-form-check-icon-checked {
      color: #1e88e5; }
    .custom-form-check .hidden-default-check:checked + .custom-for-check-icon-alt i {
      opacity: 1; }
    .custom-form-check .hidden-default-check:focus + .outter-glow::before {
      opacity: 1; }
    .custom-form-check .hidden-default-check:focus:checked + .outter-glow::before {
      opacity: 1; }
    .custom-form-check .hidden-default-check:focus + .inner-fill,
    .custom-form-check .hidden-default-check:focus:active + .inner-fill {
      background: #000; }
    .custom-form-check .hidden-default-check:focus:checked + .inner-fill i {
      color: #fff;
      background: #000; }
