.nav {
  margin-bottom: 30px; }
  .nav.nav-default {
    background: #e0e0e0; }
  .nav.nav-top {
    position: relative;
    top: 0; }
  .nav .brand .logo {
    position: relative;
    height: 100%;
    text-align: center; }
    .nav .brand .logo img {
      display: block;
      position: relative;
      width: 55px;
      height: auto;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  .nav .brand .brandname, .nav .brand .menutoggle {
    height: 100%; }
    .nav .brand .brandname p, .nav .brand .menutoggle p {
      position: relative;
      padding: 0.8rem 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      font-size: 1.3rem;
      font-weight: bold;
      text-align: left; }
  .nav .brand .menutoggle {
    cursor: pointer; }
  .nav .navmenuwrap {
    position: relative; }
  .nav .navmenu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .nav .navmenu .menuitem {
      position: relative; }
      .nav .navmenu .menuitem a {
        display: block;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        color: #000; }
        .nav .navmenu .menuitem a:hover {
          background: #000;
          color: #fff; }
        .nav .navmenu .menuitem a.active {
          background: #000;
          color: #fff; }
      .nav .navmenu .menuitem.dropdown .navmenu-sub {
        display: none; }
        .nav .navmenu .menuitem.dropdown .navmenu-sub.show {
          display: block;
          position: relative;
          width: 100%;
          left: 0;
          list-style: none;
          background: #eee; }
        .nav .navmenu .menuitem.dropdown .navmenu-sub .submenuitem a {
          padding: 15px 20px; }
