
// Two Tone
$white: #fff;
$black: #000;
$gray: #f5f5f5;
$grayDarker: #eeeeee;
$offBlack: #535353;

// Social Colors
$facebookBlue: #3B5998;
$googleplusRed: #dd4b39;
$twitterBlue: #00aced;



// Colors
$peach: #FFAAAA;
$logoblue: #488dc4;
$pear: #ffed84;
$greenapple: #aedfa3;

// Nav Colors
$lightblue: #7aafdb;
$lightblueDark: #2772B6;

$grapefruit: #e68181;
$grapefruitDark: #db6464;

$pear: #e7d379;
$pearDark: #ebd266;