
// Two Tone
$white: #fff;
$black: #000;
$gray: #f5f5f5;
$grayDarker: #eeeeee;

// Colors
$peach: #FFAAAA;
$grapefruit: #e68181;
$pear: #ffed84;
$greenapple: #aedfa3;

$logoblue: #488dc4;
$logoblueDark: #2772B6;
$lightblue: #7aafdb;