@import '_variables.scss';
@import '_colors.scss';
@import "_mixins.scss";

// Global Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

html {
    font: {
        family: $fontFamily;
        size: $fontSize;
        weight: normal;   
    }
    color: $fontColor;
    line-height: $fontLineHeight;
}



// load core
@import './module_core/gridbox-core';

// load modules
@import './module_grids/gridbox-grids';
@import './module_nav/gridbox-nav';
@import './module_form/gridbox-form';
@import './module_login/gridbox-login';
@import './module_showcase/gridbox-showcase';
@import './module_carousel/gridbox-carousel';





