@import "_variables.scss";

.nav {
    margin-bottom: 30px;

    &.nav-default {
        background: #e0e0e0;
    }

    &.nav-top{
        position: relative;
        top: 0;
    }


    .brand {

        .logo {
            position: relative;
            height: 100%;
            text-align: center;

            img {
                display: block;
                position: relative;
                width: 55px;
                height:auto;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .brandname {
            height: 100%;

            p {
                position: relative;
                padding: 0.8rem 0;
                top: 50%;
                transform: translate(0, -50%);

                font: {
                    size: $logoSize;
                    weight: bold;
                }
                text-align: left;
            }           
        }

        .menutoggle {
            @extend .brandname;
            cursor: pointer;
        }
    }

    .navmenuwrap {
        position: relative;
    }

    .navmenu {
        // display: flex;
        // flex-wrap: wrap;
        // position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;

        // &.verticle {
        //     flex-direction: column;

        //     .navmenu-sub {
        //         // repos changes the position to relative, so the dropdown menu item won't bock other main menu items when displayed vertically
        //         // repos is used only when the parent ul.verticle is exists
        //         &.repos {
        //             position: relative !important; // overwrite the position to relative
        //         }
        //     }
        // }

        .menuitem {
            // flex: 1 1 auto;
            position: relative;

            a {
                display: block;
                padding: 15px 20px;
                text-align: center;
                text-decoration: none;
                color: #000;

                &:hover {
                    background: #000;
                    color: #fff;
                }

                &.active {
                    background: #000;
                    color: #fff;
                }
            }

            

            // /* 
            // * =======================================================================
            // *                          Dropdown Memu
            // * -----------------------------------------------------------------------
            // * Description:    Menu item has a dropdown list will have a .dropdown 
            // *                 class. There will be a child ul element with a class of
            // *                 .navmenu-sub.
            // *
            // *                 By default, it will not displayed, the toggle functionality 
            // *                 will be enabled by javascript. When dropdown menu is 
            // *                 toggled, a .show class will be added to the li element
            // * -----------------------------------------------------------------------
            // * Note:      The dropdown menu will have the same width as the grandpa 
            // *            ul.navmenu element
            // * ========================================================================
            // */

            &.dropdown {

                .navmenu-sub {
                    display: none;

                    &.show{
                        display: block;
                        position: relative;
                        width: 100%;
                        left: 0;
                        list-style: none;
                        background: #eee;
                    }

                    .submenuitem { 
                        a {
                            padding: 15px 20px;
                        }
                    }
                }
            }
        }
    }
}