/* Variables */

//Font
$fontSize: 16px;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//Colors
$docBodyBGColor: #fff;


/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

html {
    font: {
        family: $fontFamily;
        size: $fontSize;
        weight: normal;   
    }
    color: #212529;
    line-height: 1.5;

    body {    
        background-color: $docBodyBGColor;
    }
}



