
// submenu
.sub {
    position: absolute;
    width: 100%;

    &.show {
        > li {
            opacity: 1;
            visibility: visible;
        }
    }
    
    @media (max-width: 768px) {
        position: relative;
    }

    a {
        display: inline-block;
        padding: 15px 25px;
        line-height: 20px;
        text-decoration: none;
        transition: all 0.3s;
    }
}


// /* ===================================================================
//  *                       Customizations
//  * ===================================================================
//  */

// transition effect for submenu collapsing
// achieve by transition of max-height, and set height to auto meanwhile. This is the best solution for achieving this transition effect at the moment
.sub {
    @media (max-width: 768px) {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s ease-in;

        &.show {
            max-height: 175px;  // each li is 52px height, max height would be greater than 52 * 3 + 15px margin top
        }
    }
}