@import '_variables.scss';

// Global Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

html {
    font: {
        family: $fontFamily;
        size: $fontSize;
        weight: normal;   
    }
    color: $fontColor;
    line-height: $fontLineHeight;

    body {    
        background-color: $docBodyBGColor;
    }
}



