
// position
.fixed {
    position: fixed !important;
}

// locations
.top-left {
    left: 20px;
    top: 20px;
}

.bottom-left {
    left: 20px;
    bottom: 20px;
}

.top-right {
    right: 20px;
    top: 20px;
}

.bottom-right {
    right: 20px;
    bottom: 20px;
}

// margins
.margin-top {
    margin-top: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}