.wg-social {
    .icons {
        display: flex;
        flex-flow: row wrap;
        z-index: 1;

        .icon {
            display: inline-block;
            position: relative;
            flex: 0 0 35px;
            padding: 10px 0;
            margin-right: 15px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            z-index: 1;

            // styling
            color: rgba($black, 0.6);

            &:last-child {
                margin-right: 0;
            }
        
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;;
                width: 35px;
                height: 35px;
                transform: translate(-50%, -50%);
                border: 1px solid rgba($black, 0.1);
                border-radius: 5px;
                z-index: -1;
                background: transparent;
                transition: all 0.1s;
            }

            &:hover {
                color: $black;

                &::before {
                    // styling
                    background: $white;
                    border: 1px solid transparent;
                }
            }
        }


    }
}


