

.dropdown-list {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.2);

    &.hide {
        display: none;
    }
    
    li {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid darken($gray, 5%);
        text-align: center;
        cursor: pointer;

        &:hover {
            background: $white;
        }
    }
}


// Dropdown Indicator style

.dropdown {

    %indicator {
        content: "";
        position: absolute;
        top: 50%;
        right: 0.75rem;
        transform: translate(-80%, -50%) rotate(45deg);
        transition: all 0.3s;
    }

    %indicator-bg {
        content: "";
        position: absolute;
        top: 50%;
        right: 0.75rem;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid $white;
        // background: $white;
        transform: translateY(-50%);
    }

    .btn {
        position: relative;
        padding: 1rem 1.5rem;
        padding-right: 2rem;

        &.arrow,
        &.arrow-circle {
            &::after {
                @extend %indicator;
                width: 5px;
                height: 5px;
                border-top: 2px solid $white;
                border-right: 2px solid $white;
            }
        }

        &.carret,
        &.carret-circle {
            &::after {
                @extend %indicator;
                border: 3px solid transparent;
                border-top: 3px solid $white;
                border-right: 3px solid $white;
            }
        }

        &.arrow-circle,
        &.carret-circle {
            &::before {
                @extend %indicator-bg;
            }
        }

        &.carret-circle.active {
            &::after {
                transform: translate(-58%, -75%) rotate(135deg);
            }
        }

        &.arrow-circle.active {
            &::after {
                transform: translate(-78%, -65%) rotate(135deg);
            }
        }
    }
}