
// position
.fixed {
    position: fixed !important;
}

.full-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// locations
.top-left {
    left: 20px;
    top: 20px;
}

.bottom-left {
    left: 20px;
    bottom: 20px;
}

.top-right {
    right: 20px;
    top: 20px;
}

.bottom-right {
    right: 20px;
    bottom: 20px;
}

// margins
.margin-top {
    margin-top: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}


.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

// paddings
.padding-around {
    padding: 15px 25px;
}

.padding-around-30 {
    padding: 30px 40px;
}



// images
.img-sm {
    width: 65px;
    height: auto;
}

.img-m {
    width: 85px;
    height: auto;
}

.img-lg {
    width: 100px;
    height: auto;
}

// border
.border {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.border-radius {
    border-radius: 15px;
}

// dropshadow
.dropshadow {
    box-shadow: 0px 4px 16px -12px $boxShadow;
}


// backgroundColor
.bg-lightgray {
    background: $gray;
}

.bg-white {
    background: $white;
}


// logo frame
.logo-frame {
    position: relative;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background: $gray;
    border-radius: 50%;
    box-shadow: 0px 2px 8px -5px $boxShadow;

    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 2;
    }

    .image {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        z-index: 1;
    }
}


// ----------------------- fonts -----------------------

// font weight
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

// font style
.italic {
    font-style: italic;
}

// font colors
.offblack {
    color: $offBlack;
}

// font size
.small {
    font-size: 0.85rem !important;
}


// ----------------------- divider -----------------------

.divider {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}