
// backgroundColor
.bg-lightgray {
    background: $gray;
}

.bg-white {
    background: $white;
}

.bg-black {
    background: $black;
}

.bg-offblack {
    background: $offBlack;
}

.bg-peach {
    background: $peach;
}

.bg-logoblue {
    background: $logoblue;
}

.bg-pear {
    background: $pear;
}

.bg-greenapple {
    background: $greenapple;
}

.bg-grapefruit {
    background: $grapefruit;
}