
// /* =======================================================================
//  *                              Font Style
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.thin {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}


// /* =======================================================================
//  *                              Font size
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.small {
    font-size: 0.85rem !important;
}


// /* =======================================================================
//  *                              Font colors
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.white {
    color: $white;
}

.black {
    color: $black;
}

.offblack {
    color: $offBlack;
}


// /* =======================================================================
//  *                            Section Title
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.section-title {
    font: {
        size: 2.7rem;
        weight: 400;
    }
}

.section-subtitle {
    font: {
        size: 1rem;
        weight: 400;
    }
    color: $offBlack;
}