
// /* =======================================================================
//  *                              Font Style
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.thin {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

// font weight builder
@mixin fontWeight($nums) {
    @for $num from 1 to $nums + 1 {
        .fontWeight-#{$num} {
            font-weight: $num * 100;
        }
    }
}

// font weight ranges from 100 to 900
@include fontWeight(9);


// /* =======================================================================
//  *                              Font size
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.small {
    font-size: 0.85rem !important;
}

// font size builder
@mixin fontSize($nums) {
    @for $num from 1 to $nums + 1 {
        .fontSize-#{$num} {
            font-size: $num + rem;
        }
    }
}

@include fontSize(10);


// /* =======================================================================
//  *                              Font colors
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.white {
    color: $white;
}

.black {
    color: $black;
}

.offblack {
    color: $offBlack;
}


// /* =======================================================================
//  *                            Section Title
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.section-title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font: {
        size: 2.7rem;
        weight: 400;
    }
}

.section-subtitle {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font: {
        size: 1rem;
        weight: 400;
    }
    color: $offBlack;
}


// text align
.align-text {
    &-left { text-align: left; }
    &-right { text-align: right; }
}