
// /* =======================================================================
//  *                              Font Style
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}


// /* =======================================================================
//  *                              Font size
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.small {
    font-size: 0.85rem !important;
}


// /* =======================================================================
//  *                              Font colors
//  * -----------------------------------------------------------------------
//  * Description:    
//  *                 
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         Can be applied to any text element
//  * ========================================================================
//  */

.white {
    color: $white;
}

.black {
    color: $black;
}

.offblack {
    color: $offBlack;
}