// /* ===================================================================
//  *                          Default theme
//  * ===================================================================
//  */

.nav {
    // toggler span background and ::before, ::after element background
    .menu-toggle {
        span {
            background: $black;
            &::before {
                background: $black;
            }
            &::after {
                background: $black;
            }
        }

        &:hover {
            span {
                background: $lightblueDark;
                &::before {
                    background: $lightblueDark;
                }
                &::after {
                    background: $lightblueDark;
                }
            }
        }

        &.active {
            span {
                background: transparent;
                &::before {
                    background: $white;
                }
                &::after {
                    background: $white;
                }
            }
        }
    }

    // brandname span
    .brandname {
        span {
            color: $black;
        }

        &.contrast {
            span {
                color: $white
            }
        }
    }

    // overlay background
    .overlay {
        background: $lightblue;
    }

    .main {
        // main menu item background
        // > li {
        //     background: $logoblue;
        // }

        // main menu item font style
        > li > a {
            color: $white;

            // dropdown carret
            &.sub-toggle {
                &::after {
                    border-top: 2px solid $lightblue;
                    border-right: 2px solid $lightblue;
                } 
            }
        }
    }

    // sub menu item font style
    .sub {
        a {
            color: $white;
            // border-bottom: 2px solid rgba(0, 0, 0, 0);

            &:hover {
                // color: $pear;
                font-weight: 700;
            }
        }
    }

    // social
    .social {

        // divider color
        &::before {
            background: $white;
        }

        > span {
            color: $white;
        }

        .icon {
            color: $white;

            &:hover {
                color: $lightblue;
                // hover bg color
                &::before {
                    background: $white;
                }
            }
        }
    }
}

// /* ===================================================================
//  *                        Grapefruit theme
//  * ===================================================================
//  */

.nav.grapefruit {
    // toggler span background and ::before, ::after element background
    .menu-toggle {
        span {
            background: $black;
            &::before {
                background: $black;
            }
            &::after {
                background: $black;
            }
        }

        &:hover {
            span {
                background: $grapefruitDark;
                &::before {
                    background: $grapefruitDark;
                }
                &::after {
                    background: $grapefruitDark;
                }
            }
        }

        &.active {
            span {
                background: transparent;
                &::before {
                    background: $white;
                }
                &::after {
                    background: $white;
                }
            }
        }
    }

    // brandname span
    .brandname {
        span {
            color: $black;
        }

        &.contrast {
            span {
                color: $white
            }
        }
    }

    // overlay background
    .overlay {
        background: $grapefruit;
    }

    .main {
        // main menu item background
        // > li {
        //     background: $logoblue;
        // }

        // main menu item font style
        > li > a {
            color: $white;

            // dropdown carret
            &.sub-toggle {
                &::after {
                    border-top: 2px solid $grapefruit;
                    border-right: 2px solid $grapefruit;
                } 
            }
        }
    }

    // sub menu item font style
    .sub {
        a {
            color: $white;
            // border-bottom: 2px solid rgba(0, 0, 0, 0);

            &:hover {
                // color: $pear;
                font-weight: 700;
            }
        }
    }

    // social
    .social {

        // divider color
        &::before {
            background: $white;
        }

        > span {
            color: $white;
        }

        .icon {
            color: $white;

            &:hover {
                color: $grapefruit;
                // hover bg color
                &::before {
                    background: $white;
                }
            }
        }
    }
}

// /* ===================================================================
//  *                        Pear theme
//  * ===================================================================
//  */

.nav.pear {
    // toggler span background and ::before, ::after element background
    .menu-toggle {
        span {
            background: $black;
            &::before {
                background: $black;
            }
            &::after {
                background: $black;
            }
        }

        &:hover {
            span {
                background: $pearDark;
                &::before {
                    background: $pearDark;
                }
                &::after {
                    background: $pearDark;
                }
            }
        }

        &.active {
            span {
                background: transparent;
                &::before {
                    background: $white;
                }
                &::after {
                    background: $white;
                }
            }
        }
    }

    // brandname span
    .brandname {
        span {
            color: $black;
        }

        &.contrast {
            span {
                color: $white
            }
        }
    }

    // overlay background
    .overlay {
        background: $pear;
    }

    .main {
        // main menu item background
        // > li {
        //     background: $logoblue;
        // }

        // main menu item font style
        > li > a {
            color: $white;

            // dropdown carret
            &.sub-toggle {
                &::after {
                    border-top: 2px solid $pear;
                    border-right: 2px solid $pear;
                } 
            }
        }
    }

    // sub menu item font style
    .sub {
        a {
            color: $white;
            // border-bottom: 2px solid rgba(0, 0, 0, 0);

            &:hover {
                // color: $pear;
                font-weight: 700;
            }
        }
    }

    // social
    .social {

        // divider color
        &::before {
            background: $white;
        }

        > span {
            color: $white;
        }

        .icon {
            color: $white;

            &:hover {
                color: $pear;
                // hover bg color
                &::before {
                    background: $white;
                }
            }
        }
    }
}
