
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .toggle {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        %arrow {
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 50%;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
            border-right: 2px solid rgba(0, 0, 0, 0.3);
            transition: all 0.3s;
        }

        %arrow-container {
            display: inline-block;
            position: relative;
            width: 45px;
            height: 55px;
            cursor: pointer;
            background: transparent;
            transition: all 0.3s;

            &:hover {
                background: rgba(0, 0, 0, 0.2);

                span {
                    border-top: 2px solid $white;
                    border-right: 2px solid $white;
                }
            }
        }

        .left {
            @extend %arrow-container;
            float: left;
            left: 15px;
            span {
                @extend %arrow;
                transform: translate(-6.5px, -50%) rotate(-135deg);
            }
        }

        .right {
            @extend %arrow-container;
            float: right;
            right: 15px;
            span {
                @extend %arrow;
                transform: translate(-19px, -50%) rotate(45deg);
            }
        }
    }

    .indicator {
        display: block;
        position: absolute;
        z-index: 10;

        span {
            display: inline-block;
            width: 25px;
            height: 5px;
            margin-right: 5px;
            background: rgba(0, 0, 0, 0.3);
            transition: all 0.3s;
            cursor: pointer;

            &:last-of-type {
                margin-right: 0px;
            }

            &:hover {
                background: $information;
            }

            &.active {
                background: $information;
            }

            &.with-text {
                width: auto !important;
                height: auto !important;
                padding: 15px 25px 5px 25px;
                margin-right: 15px;
                background: none;
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);

                &:last-of-type {
                    margin-right: 0px;
                }

                &.active {
                    border-bottom: 2px solid $information;
                }
            }
        }
    }

    
}

// status bar
.status-bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}


// animations
// --------- fade effect ----------
.showcase {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    // action class
    &.hide {
        opacity: 0;
    }
}

.showcase-carousel {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.default {
        position: relative;
    }

    // action class
    &.show {
        opacity: 1;
    }
}

// --------- slide effect ----------

.carousel-slide {
    position: relative;
    overflow-x: auto;
    transition: transform 0.7s ease-in-out; // slide transition period is 750ms

    .showcase-carousel {
        position: relative;
        width: 100vw;
        float: left;
        transform: scale(0.9);
        transition: transform 0.5s ease-in-out; // scale transform period is 500ms

        &.enlarge {
            transform: scale(1);
        }
    }
}







