
// grids layout
%grids {
    display: flex;
    position: relative;
    flex-flow: nowrap row;
    justify-content: center;
    width: 100%;
}

.grids {
    @extend %grids;
}

%grid {
    padding: 25px 35px;
}

.grid {
    &-left,
    &-inbetween,
    &-right {
        @extend %grid;
    }
}

// borders
$borderColor: $gray;

.grids {
    &-top,
    &-middle {
        .grid {
            &-left {
                border-right: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
            }
            &-inbetween {
                border-right: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
            }
            &-right {
                border-right: none;
                border-bottom: 1px solid $borderColor;
            }
        }
    }

    &-bottom {
        .grid {
            &-left {
                border-right: 1px solid $borderColor;
                border-bottom: none;
            }
            &-inbetween {
                border-right: 1px solid $borderColor;
                border-bottom: none;
            }
            &-right {
                border-right: none;
                border-bottom: none;
            }
        }
    }
}


// content layout
.grid-title {
    margin-bottom: 15px;
    font: {
        size: 2.5rem;
        weight: 300;
    }
    text-align: center;
}
.grid-content {
    color: $offBlack;
}