
// grids layout
%grids {
    display: flex;
    position: relative;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
}

.grids {
    @extend %grids;
}

%grid {
    padding: 25px 35px;
}

.grid {
    &-left,
    &-inbetween,
    &-right {
        @extend %grid;
    }
}

// borders
$borderColor: $gray;

.grids {
    &-top,
    &-middle {
        .grid {
            &-left {
                border-right: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
            }
            &-inbetween {
                border-right: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
            }
            &-right {
                border-right: none;
                border-bottom: 1px solid $borderColor;
            }
        }
    }

    &-bottom,
    &-single-row {
        .grid {
            &-left {
                border-right: 1px solid $borderColor;
                border-bottom: none;
            }
            &-inbetween {
                border-right: 1px solid $borderColor;
                border-bottom: none;
            }
            &-right {
                border-right: none;
                border-bottom: none;
            }
        }
    }
}


// content layout
.grid-title {
    margin-bottom: 15px;
    font: {
        size: 2.5rem;
        weight: 300;
    }
    text-align: center;
}
.grid-content {
    color: $offBlack;
    text-align: center;
}



// /* =======================================================================
//  *                            Image Grids
//  * -----------------------------------------------------------------------
//  * Description:    add a .grid class, data-url attribute for the 
//  *                 background url, and id attribute for js to target
//  *                 
//  * -----------------------------------------------------------------------
//  * Ussage:         use the .grid class to style the gird dimension
//  * ========================================================================
//  */

.image-grid {
    position: relative;
    height: 300px;
    border: none !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    .grid-title,
    .grid-content {
        opacity: 0;
        color: $white;
        z-index: 1;
    }

    // mask
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $black;
        opacity: 0;
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        &::before {
            opacity: 0.1;
        }

        .grid-title,
        .grid-content {
            opacity: 1;
        }
    }
}

.image-grid-dynamic {
    position: relative;
    height: 300px;
    overflow: hidden;
    z-index: 1;

    // mask
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $black;
        opacity: 0;
        transition: all 0.3s;
        z-index: -1;
    }

    .bg {
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        z-index: -2;
    }

    .slidein {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        opacity: 0;
        transition: all 0.3s;
    }

    &:hover {
        &::before {
            opacity: 0.1;
        }

        .bg {
            transform: translate(-50%, -50%) scale(1.05);
        }

        .slidein {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
}