.parallax {
    position: relative;
    background: {
        size: cover;
        repeat: no-repeat;
        // position: center;
        attachment: fixed;
        image: url("/img/sample-image-1.jpeg");
    }

    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}