.parallax {
    position: relative;
    background: transparent;

    .bg {
        display: block;
        position: fixed;
        will-change: transform;
        z-index: -10;
    }

    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}