%showcase {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.showcase {
    @extend %showcase;
    height: 80vh;

    &-carousel {
        @extend %showcase;
        height: 80vh;
    }

    &-full-screen {
        @extend %showcase;
        height: 100vh;
    }

    &-narrow {
        @extend %showcase;
        height: 300px;
    }
}

.hero-image {

    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;    

    img {
        display: block;
        width: 100%;
        min-width: 900px;
        height: auto;
        min-height: 80vh;
    }

    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.05;
        z-index: 2;
    }
}

.text-content {
    position: absolute;
    max-width: 500px;
    z-index: 3;

    .btn {
        display: inline-block;
        min-width: 120px;
        padding: 10px 25px;
        text-align: center;
    }

    // positions
    &.left {
        margin-right: 10%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    &.right {
        margin-left: 10%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}