.card {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 45px;
    box-shadow: 0 5px 15px -13px $boxShadow;
    transition: all 0.2s;

    &:hover {
        transform: translate(1px, 1px);
        box-shadow: 0 5px 15px -10px $boxShadow;
    }

    // remove margin bottom at lap and desk screen size
    @media (min-width: 1200px) {
        margin-bottom: 0px;
    }

    .card-image {
        display: block;
        width: calc(100% + 50px);
        margin-top: -15px;
        margin-left: -25px;
        margin-bottom: 20px;
        height: auto;
    }
    
    .card-title {
        margin-bottom: 15px; 
    }
    
    .card-text {
        height: 150px;
        margin-bottom: 50px;
        overflow-y: hidden;
    }

    .btn {
        position: absolute;
        padding: 10px 25px; 
        min-width: 100px;
        bottom: 15px;
        text-align: center;
    }
}

